{% extends 'booking/base.html' %}

{% block content %}

<main>
    <div class="hero_in cart_section">
        <div class="wrapper">
            <div class="container">
                <h1>Update Password</h1>
                <!-- End bs-wizard -->
            </div>
        </div>
    </div>
    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-8">
                    <div class="box_cart">
                    
                    <div class="form_title">
                        <h3><strong>2</strong>Update Password</h3>
                        <p>
                            For your happy travelling
                        </p>
                    </div>
                 <br><br>
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn_1 rounded">Update Password</button>
                                            
                        </form>
                    </div>
                    
                    <!--End step -->

                    <hr>
                    <!--End step -->
                    
                    </div>
                </div>
                <!-- /col -->
                
              
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</main>
{% endblock %}