{% extends 'booking/base.html' %}

{% block content %}

<main>
    <section class="hero_single version_2">
        <div class="wrapper">
            <div class="container">
                <h3>Book unique experiences</h3>
                <p>with Fantastic Five top service based airline</p>
                <form action="flightdetails">
                    <div class="row no-gutters custom-search-input-2">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control" list="places" placeholder="Origin" name="origin" id="origin" required>
                                
                                <datalist id="places">
                                    {% for n in placesdata %}
                                    <option value="{{n.acronym}}">{{n.placename}}</option>
                                   
                                    {% endfor %}
                                </datalist>
                                <i class="icon_pin_alt"></i>
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input class="form-control" list="places" placeholder="Destination" name="destination" id="destination" required>
                                <i class="icon_pin_alt"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input min="{{mindate}}" class="form-control inputdate" type="date" placeholder="Depart" name="depart" id="depart" required>
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input class="form-control" type="number" placeholder="No. of passengers" min="1" name="passen" id="passen" required>
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn_search" value="Search">
                        </div>
                    </div>
                    <!-- /row -->
                </form>
            </div>
        </div>
    </section>
    <!-- /hero_single -->

    <div class="container container-custom margin_80_0">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Offers</h2>
            <p>Budget friendly rides</p>
        </div>
        <div id="reccomended" class="owl-carousel owl-theme">
            {% for n in offersdata %}
            <div class="item">
                <div class="box_grid">

                    <div class="wrapper">
                        <h3><a href="tour-detail.html">{{n.title}}</a></h3>
                        <p>{{n.desc}}</p>
                        <span class="price">Max <strong>INR {{n.maxdis}}</strong> off</span>
                    </div>
                    <ul>
                        <li><i class="icon_clock_alt"></i> Use Code - </li>
                        <li><div class="score"><strong>{{n.code}}</strong></div></li>
                    </ul>
                </div>
                
                
            </div>
            {% endfor %}
            
            




        </div>
        <!-- /carousel -->
        <hr class="large">
    </div>
    <!-- /container -->
    


    
    <div class="container container-custom margin_30_95">


        <section class="add_bottom_45">
            <div class="main_title_3">
                <span><em></em></span>
                <h2>Popular Hotels and Accommodations</h2>
                <p>Book your safe stay</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">JW Mariott</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/189333/pexels-photo-189333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">THE OBEROI AMARVILAS</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/2034335/pexels-photo-2034335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">THE IMPERIAL NEW DELHI</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/1001965/pexels-photo-1001965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Westin Hotels & Resorts</h5>
                </div>
              
            </div>
            <!-- /row -->
                </section>
        <!-- /section -->
        <!-- /section -->
        <section class="add_bottom_45">
            <div class="main_title_3">
                <span><em></em></span>
                <h2>Popular Tourist Destinations</h2>
                <p>You will surely like this</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/1659437/pexels-photo-1659437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Uttarakhand</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/871055/pexels-photo-871055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Kashmir</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/789376/pexels-photo-789376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Kedarnath</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/9785170/pexels-photo-9785170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Goa</h5>
                </div>
              
            </div><br>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/1319829/pexels-photo-1319829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Kerela</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Lonavla</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/12214734/pexels-photo-12214734.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Rajasthan</h5>
                </div>
                <div class="col-md-3">
                    <img src="https://images.pexels.com/photos/210349/pexels-photo-210349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" height="250px">
                    <h5 class="text-white" align="center" style="margin-top:-30px">Ooty</h5>
                </div>
              
            </div>
            <!-- /row -->
                </section>
        <!-- /section -->
        <div class="banner mb-0">
            <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)">
                <div>
                    <small>Adventure</small>
                    <h3>Your Perfect<br>Advenure Experience</h3>
                    <p>Activities and accommodations</p>
                    <a href="adventure.html" class="btn_1">Read more</a>
                </div>
            </div>
            <!-- /wrapper -->
        </div>
        <!-- /banner -->

    </div>
    <!-- /container -->


    <!-- /bg_color_1 -->

    <div class="call_section">
        <div class="container clearfix">
            <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                <div class="block-reveal">
                    <div class="block-vertical"></div>
                    <div class="box_1">
                        <h3>Enjoy a GREAT travel with us</h3>
                        <p>"Life is Short.
                            Call in sick and book that
                            Last-minute Flight"
                            <p>
                            I am not afraid of FLYING,
                            I am afraid of NOT FLYING.
                            </p>
                        </p>
                        <a href="#" class="btn_1 rounded">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/call_section-->
</main>

{% endblock %}