{% extends 'booking/base.html' %}

{% block content %}
<main>
    <section class="hero_in general">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Previous Trips</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <div class="container margin_60_35">
        <div class="row">
        
            <!--/aside -->
            {% if userpnrs %}
                {% else %}
                <center>
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_vezxxffq.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
               <br> <h5>Oops! You didn't give us chance to serve you. Try booking your next ticket with us :) </h5>
                
               </center>
               {% endif %}
            <div class="row">
                    
                {% for n in userpnrs %}
            <div class="col-lg-9" id="faq">
                
                    
                
                
               
                <div role="tablist" class="add_bottom_45 accordion_2" id="payment">
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree_payment" aria-expanded="false">
                                    <i class="indicator ti-plus"></i>
                                    <b>{{n.pnr}}</b> // {{n.flightdate}} // {{n.flightno}} // PNR ID - {{n.id}}
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree_payment" class="collapse" role="tabpanel" data-parent="#payment">
                            <div class="card-body">
                               
                                <p>
                                    {% for i in passengers %}
                                    {% if i.pnr_id == n.id %}
                                        <b>{{i.name}} </b>, Date of Birth = {{i.dob}}, Booking ID = {{i.bookingID}} <br>
                                        
                                       
                                    {% else %}
                                    
                                    {% endif %}
                                    
                                    
                                
                                {% endfor %}<br>
                                Amount paid = <b> {{n.paidamt}} /- </b><br>
                                <a href="ticket?pnr={{n.pnr}}" target="blank">Download Ticket</a>
                            </p>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
               
            </div> 

            {% endfor %}
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!--/container-->
</main>
{% endblock %}